/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

/* Speech styling */
.speech {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: black;
}

/* Direction styling */
.direction {
  background-color: #f0f0f0;
  font-style: italic;
  padding: 5px;
}

.direction:hover {
  background-color: #d1ecf1;
  color: #0c5460;
}

/* Character Specific Classes */
.nora {
  color: #d9534f;
}

.porter {
  color: #2e6da4;
}

.helmer {
  color: #3c763d;
}


h3:hover, h4:hover {
  text-shadow: 2px 2px 5px #888888;
  border: 1px dashed #333;
  padding: 2px;
}
/* Styles pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2e6da4;
    color: white;
}

/* Zebrure des lignes (row stripes) */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}